<div class='intro'>
	<div class='intro__block'>
		<h1 class='intro__hed'>{{{doc.hed}}}</h1>
		<div class='intro__deets'>
			<p class='intro__byline'>By
				<a href='{{meta.author.url}}' target='_blank'>
					<strong>{{meta.author.name}}</strong>
				</a>
				&
				<a href='{{meta.author2.url}}' target='_blank'>
					<strong>{{meta.author2.name}}</strong>
				</a>
			</p>
			<div class='more-icon'>@@include('arrow-down-circle.svg')</div>
		</div>
	</div>
	<div class='intro__prose'>
		{{#each doc.intro}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</div>